<br>

# Introduction to Databases
## Overview

### A Relational Database Is...
- Organized collection of tables
- Collections of structured data
- Custom Views and Custom logic (functions)
- A large set of CLI tools

<BR>

### Why Relational Databases?
- Very high performance and reliability
- Data integrity
- Complex queries
- ACID compliance

<BR>

```
Other types of Databases
- Document (NoSQL)
- Key-value Store
- Graph
```

# Data Integrity

## ACID properties

### Atomicity

Transaction is all or nothing
No partial updates

### Consistency

Database moves from one valid state to another
All rules/constraints satisfied

### Isolation

Transactions execute as if they were sequential
Concurrent transactions don't interfere

### Durability

Committed changes are permanent
Survive system crashes

<br>

# Core Concepts
## Schemas

Schemas define a logical grouping of database objects:
- Blueprint of database structure
- Collection of tables, views, functions
- Defines organization and relationships

Generally speaking though it defines the structure of a table. You must define a schema and create the associated table before you may store or otherwise manipulate data.

### Composition of a table schema

Table schemas define all the properties (columns) that will be present in each row of our table.

The properties include:
- column name
- type (see below)
- size
- nullable
- default value
- auto-incrementing
- (and more)

## Data Types

Just like the type of a variable in Python, we must give each property in a schema a type.

> WARNING: In SQL, unlike Python, column types are immutable (columns don't change types):
- Text/String/Char
- Integer/Float (numeric)
- Dates
- Boolean
- Binary
- Timestamps
- And other specialized types
<BR>


## Tables

Tables are a collection of related data in rows and columns (think spreadsheet). They are the most basic storage unit in databases

## Rows

Within a **table**, each `row` represents the collection of properties defined in the schema associated with the table

## Columns

Within a **row**, each `column` represents one property defined in the schema associated with the table

<BR>

### Let's create our first schema for use later:

In [ ]:

# Each column has a name, a type, a length, and other optional attributes

CREATE  Users (
    user_id INT PRIMARY KEY AUTO_INCREMENT, # this value is auto-assigned...
    username VARCHAR(50) NOT NULL,
    email VARCHAR(100)
);

# Constraints

> Constraints are rules to enforce data integrity, conditions that must be true for data, to catch potential problems, invalid relationships



## **Primary Key** Unique id that can't be NULL

```
CREATE TABLE Users (
    user_id INT PRIMARY KEY,
    username VARCHAR(50) NOT NULL,
    email VARCHAR(100)
);
```

## **Foreign Key** - References to other tables to ensure referential integrity


```
CREATE TABLE Orders (
    order_id INT PRIMARY KEY,
    user_id INT,
    amount DECIMAL(10,2),
    FOREIGN KEY (user_id) REFERENCES Users(user_id)
);
```


## **UNIQUE** -- ensures unique value per row

```
CREATE TABLE Users (
    user_id INT PRIMARY KEY,
    username VARCHAR(50) UNIQUE,
    email VARCHAR(100) UNIQUE
);
```


## **CHECK** - Logical validation rule

```
CREATE TABLE Employees (
    id INT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    age INT CHECK (age >= 18),
    salary DECIMAL CHECK (salary > 0)
);
```

## **NOT NULL** -- ensure non-empty value
```
CREATE TABLE Products (
    product_id INT PRIMARY KEY,
    name VARCHAR(100) NOT NULL,
    price DECIMAL(10,2) NOT NULL,
    description TEXT
);
```

## **DEFAULT** - give fallback value if not otherwise provided
```
CREATE TABLE Posts (
    post_id INT PRIMARY KEY,
    title VARCHAR(200) NOT NULL,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    status VARCHAR(20) DEFAULT 'draft'
);
```

## Relationships
- One-to-One
- One-to-Many
- Many-to-Many

<BR>

## SQL Commands (CLI)
- SELECT
- INSERT
- UPDATE
- DELETE

> Queries: xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx xxxx

In [ ]:

import sqlite3  #a popular in-memory DB

## Sample Tables

### `Customers`
```
ID  | Name   | City
--------------------
1   | Alice  | NYC
2   | Bob    | LA
3   | Carol  | Miami
4   | Dan    | Boston
```
### `Orders`
```
OrderID | CustomerID | Product
----------------------------
101     | 1         | Book
102     | 1         | Pen
103     | 2         | Laptop
104     | 5         | Phone

```

In [ ]:

import sqlite3
conn = sqlite3.connect('DSE200.db')
cursor = conn.cursor()

# Create the Customers table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Customers (
        ID INTEGER PRIMARY KEY,
        Name TEXT,
        City TEXT
    )
''')

# Insert data into the Customers table
cursor.execute("INSERT INTO Customers (ID, Name, City) VALUES (1, 'Alice', 'NYC')")
cursor.execute("INSERT INTO Customers (ID, Name, City) VALUES (2, 'Bob', 'LA')")
cursor.execute("INSERT INTO Customers (ID, Name, City) VALUES (3, 'Carol', 'Miami')")
cursor.execute("INSERT INTO Customers (ID, Name, City) VALUES (4, 'Dan', 'Boston')")


# Create the Orders table
cursor.execute('''
    CREATE TABLE IF NOT EXISTS Orders (
        OrderID INTEGER PRIMARY KEY,
        CustomerID INTEGER,
        Product TEXT,
        FOREIGN KEY (CustomerID) REFERENCES Customers(ID)
    )
''')

# Insert data into the Orders table
cursor.execute("INSERT INTO Orders (OrderID, CustomerID, Product) VALUES (101, 1, 'Book')")
cursor.execute("INSERT INTO Orders (OrderID, CustomerID, Product) VALUES (102, 1, 'Pen')")
cursor.execute("INSERT INTO Orders (OrderID, CustomerID, Product) VALUES (103, 2, 'Laptop')")
cursor.execute("INSERT INTO Orders (OrderID, CustomerID, Product) VALUES (104, 5, 'Phone')") # Note: CustomerID 5 does not exist in Customers, demonstrating potential data integrity issues.


conn.commit()
conn.close()

## Kinds of JOINS

INNER JOIN
ðŸ”µ âšª = âš«
A âˆ© B

LEFT JOIN
ðŸ”µ âšª = ðŸ”µ
A + (A âˆ© B)

RIGHT JOIN
ðŸ”µ âšª = âšª
B + (A âˆ© B)

FULL JOIN
ðŸ”µ âšª = ðŸ”µ âšª
A + B

<BR>
# Inner Joins
- xxx
- xxx

```
SELECT Customers.Name, Orders.Product
FROM Customers
INNER JOIN Orders ON Customers.ID = Orders.CustomerID
```

#### NOTE:
- Only matches shown
- Carol, Dan (no orders) excluded
- CustomerID 5 (no customer) excluded

<BR>

## LEFT JOIN

>  ðŸ”µ âšª = ðŸ”µ &nbsp; &nbsp; &nbsp; A + (A âˆ© B)

```
SELECT Customers.Name, Orders.Product
FROM Customers
LEFT JOIN Orders ON Customers.ID = Orders.CustomerID
```

Put notes here..

## RIGHT JOIN

> ðŸ”µ âšª = âšª &nbsp; &nbsp; &nbsp; B + (A âˆ© B)

```
SELECT Customers.Name, Orders.Product
FROM Customers
RIGHT JOIN Orders ON Customers.ID = Orders.CustomerID
```

- xxx
- xx

## FULL JOIN

> ðŸ”µ âšª = ðŸ”µ âšª &nbsp; &nbsp; &nbsp; A + B


```
SELECT Customers.Name, Orders.Product
FROM Customers
FULL JOIN Orders ON Customers.ID = Orders.CustomerID
```

- xxx
- xxx

## Indexes
- Speed up queries
- Types of indexes
- Trade-offs

<BR>



## Transactions
- Atomicity
- Consistency
- Isolation
- Durability

<BR>



## Common JOIN problems
- Missing matches
- Multiple matches
- Performance issues
- Wrong JOIN type